.grid-container {
  margin: 20px;
  max-width: 900px;
}
  
.tile-image {
  width:100%;
  
}

.container {
  position: relative;
}

.bottom-text {
  position: absolute;

  bottom: 0;
  width: 100%; 

  color: white;
  background: rgba(0, 0, 0, 0.5); 

  padding: 10px 20px 10px 20px;

}